<center><h1>Our Blogs</h1></center>
 
  <% if @titlecontents.empty? %>
    <b><p>There are no posts</p></b> 
  <%else%>
    <% @titlecontents.each do|titlecontent|%>
      <%= titlecontent.title %><br>
      <%= titlecontent.content%><br>
      <%= link_to 'edit' ,"home/#{titlecontent.id}/edit"%>
      <%= link_to 'delete' ,"home/#{titlecontent.id}/destroy"%><hr>
    <% end %>
  <% end %>   

  <%= form_tag  home_index_path, remote: true do %>
    <%= text_field_tag :search_str, '' %>
    <%= submit_tag 'Send' %>
  <% end %></hr>

  <%= link_to 'createNewNotice',"home/new"%>

  <script>
  $("#search_str").change(function(){
    val = $(this).val();
    $.ajax({
      method: 'get',
      url: "/books/search?search_str="+val,
      cache: false,
      success: function(html){
        //$("#results").append(html);
      }
    });
  })
</script>

