<center><h1>Our Blogs</h1></center>
 
  <% if @titlecontents.empty? %>
    <b><p>There are no posts</p></b> 
  <%else%>
    <% @titlecontents.each do|titlecontent|%>
      <%= titlecontent.title %><br>
      <%= titlecontent.content%><br>
      <%= link_to 'edit' ,"home/#{titlecontent.id}/edit"%>
      <%= link_to 'delete' ,"home/#{titlecontent.id}/destroy"%><hr>
    <% end %>
  <% end %>   

 

<%= form_tag home_index_path, :method => 'get' do %>
  <p>
    <%= text_field_tag  %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  <div id="products"><%# render 'products' %></div>
<% end %>


  <%= will_paginate @titlecontents%>
  