<%= render :partial => 'layouts/teamberylheader'%>
<section class="section-space">
  <div class="team-members">
    <div class="container">
      <div class="team-content text-center">
        <h3 class="page-heading">Our Values</h3>
          <p class="text-left">
              We're proud of our values and commitments based on creativity and innovation which makes us the best platform to solidify career.<br>
              Beryl Systems is on a mission to create a space that respects failures just as much as it celebrates success, so that people can defy their own expectations. A space where ideas for tomorrow hit the ground running, today. A space that values its people and serves with pride. A space to dream, imagine, think, design, create and execute.
          </p>
      </div>
    </div>
    <div class="container">
      <div class="row team-beryl">
        <div class="col-sm-4 col-md-4">
          <div class="team-member">
            <%= image_tag "team-img.png"%>
            <div class="member-name">Vinay Mehta</div>
            <span>Founder & CEO</span>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="team-member">
            <%= image_tag "team-img.png"%>
            <div class="member-name"></div>
            <span></span>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="team-member">
            <%=image_tag "team-img.png"%>
            <div class="member-name"></div>
            <span></span>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-4 col-md-4">
          <div class="team-member">
            <%= image_tag "team-img.png"%>
            <div class="member-name"></div>
            <span></span>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="team-member">
            <%= image_tag "team-img.png"%>
            <div class="member-name"></div>
            <span></span>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="team-member">
            <%= image_tag "team-img.png"%>
            <div class="member-name"></div>
            <span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

