<p id="notice"><%= notice %></p>

<h1>Products</h1>

<%= form_tag url: search_path ,method: :get, remote: true do %>
  <%= text_field_tag :search_str %>
  <%=submit_tag 'Send' %>
<%end%>


<%= link_to 'New Product', new_product_path %>
