<!DOCTYPE html>
<html>
  <head>
    <title>Eventmanagementsystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Details</h1>
    <%= yield %>
    <h1>End</h1>
  </body>
</html>
