<h1>Home Page</h1>

  <%if current_user%>
    <div><%= current_user.name%></div>
    <%#= image_tag (current_user.image), style:"height:100px;width:200px;"%>
    <%=current_user.email%><br/>
    <%= current_user.provider%>
  <%end%>
  <%if user_signed_in? %>
    <h1><%= current_user.name%></h1>
    <%=image_tag current_user.avatar.url(:thumb)%>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p><br/>
    <%= "List of Users"%><br/>
    <% @users.each do|user|%>
      <%= user.email%><br/>
    <%end%>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  <%else%>
     <%= "you are not signed in"%>
     <%= link_to "signed in",new_user_session_path%>
  <%end%> 
